{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"></div>
    <h1> {{ category }}</h1>
    <div class="mails">
    {% for mail in mails %}
    <a href="{{ path('byId', {id : mail.id}) }}">
    <div class="mail">
        <div class="sender">{{ mail.sender }}</div>
        <div class="recipient">{{ mail.recipient }}</div>
        <div class="subject">{{ mail.subject }}</div>-
        <div class="message">{{ mail.message }}</div>
    </div>
    </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
