{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"></div>
    <a href="{{ path('newContact')}}">New Contact</a><br>
    <h1>Vos contacts</h1>
    {% for contact in contacts %}
        <div class="contact_div">
        <img class="contact_img" src="{{ asset(contact.avatar) }}">
        <div class="name">
            <div>{{ contact.firstName }}</div>
            <div>{{ contact.lastName }}</div>
        </div>
        {{ contact.email }}
        <div class="crud">
            <a href="{{ path('editContact',{id : contact.id})}}">Edit</a>
            <a href="{{ path('deleteContact',{id : contact.id})}}">Delete</a>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
