{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"></div>
    <h1>New Category</h1>
    {{ form_start(form) }}
    Nom de la nouvelle catégorie :<br>
    {{ form_widget(form.name) }}
    {{ form_widget(form.save , { 'attr': {'class': 'add_button_category'} }) }}
    {{ form_end(form) }}
</div>
{% endblock %}