{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"></div>
    <h1>New Contact</h1>
    <div class="form_container">
        {{ form_start(form) }}
        <div class="contact_label">Prénom</div>
        {{ form_widget(form.first_name) }}
        <div class="contact_label">Nom</div>
        {{ form_widget(form.last_name) }}
        <div class="contact_label">Email</div>
        {{ form_widget(form.email) }}
        <div class="contact_label">Lien de l'image</div>
        {{ form_widget(form.avatar) }}
        {{ form_widget(form.save, { 'attr': {'class': 'add_button_category'} }) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}