{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"></div>
    <div class="form_container">
        {{ form_start(form) }}
        <div class="contact_label">Sender</div>
        {{ form_widget(form.sender)}}
        <div class="contact_label">Recipient</div>
        {{ form_widget(form.recipient , { 'attr': {'class': 'auto'} })  }}
        {{ error }}
        <div class="autocompletion_item"></div>
        <div class="contact_label">Subject</div>
        {{ form_widget(form.subject)}}
        <div class="contact_label">Message</div>
        {{ form_widget(form.message , { 'attr': {'class': 'textrea'} })}}
        {{ form_widget(form.save, { 'attr': {'class': 'add_button_category'} }) }}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}