{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box">
    <div class="search_bar">
    {{ form_start(search_bar) }}
    {{ form_widget(search_bar.search) }}
    {{ form_widget(search_bar.Trier) }}
    {{ form_widget(search_bar.save,  { 'attr': {'class': 'add_button_category'} }) }}
    {{ form_end(search_bar) }}
    </div>
</div>
    <div class="mails">
    {% for mail in mails %}
    <a href="{{ path('byId', {id : mail.id}) }}">
    <div class="mail">
        <div class="sender">{{ mail.sender }}</div>
        <div class="recipient">{{ mail.recipient }}</div>
        <div class="subject">{{ mail.subject }}</div>-
        <div class="message">{{ mail.message }}</div>
    </div>
    </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
