{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="box"> </div>
        <div class="individual_mail">
                <h1 class="individual_subject">{{ mail.subject }}</h1>
                <hr>
                <div class="individual_sender"><b>{{ mail.sender }}</b></div>
                <div class="individual_recipient">to {{ mail.recipient }}</div>
                <div class="individual_message">{{ mail.message }}</div>
                <div class="individual_form">{{ form_start(form) }}
                <div>
                        {{ form_widget(form.Categorie) }}
                        {{ form_widget(form.save , { 'attr': {'class': 'add_button_category'} })  }}
                </div>
                {{ form_end(form) }}</div>
        </div>
</div>
{% endblock %}
