a{
    color: purple;
    text-decoration: none;
}

.textrea{
    width: 300px;
    height: 150px;
}

.ui-helper-hidden-accessible {
    display:none;
}

body{
    display: flex;
    width: 100%;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search_bar{
    display: flex;
    align-items: center;
    height: 200px;
}

.sidebar{
    width: 10%;
}

.box{
    height: 75px;
    width: 100%;
    background:#e5dee5;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    /* border: 1px solid black; */
}

.sidebar_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */
}
.categories{
    width: 100%;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}

.mail{
    color: black;
    width: 100%;
    background: #ededed;
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.mail:last-of-type{
    border-bottom: 1px solid black;
}

.sender{
    margin: 0 5% 0 0;
}

.recipient{
    margin: 0 5% 0 0;
}

.mails{
    margin-top: 25px;
}

.message{
    color: rgb(206, 188, 188);
}

.category:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.compose:hover{
    background: #bd84ff;
    color: purple;
    transition-duration: 0.5s;
}

.box:last-of-type{
    /* background:#e5dee5; */
}
.container{
    width: 100%;
}

.individual_mail{
    margin-top: 25px;
}

.individual_recipient{
    color: grey;
    line-height: 10px;
    margin-bottom: 25px;
    font-size: 12px;
}

.individual_subject{
    margin: 0%;
    color: purple;
}

.logo{
    width: 100px;
    height: 50px;
    transform: rotateX(180deg)
}

.contact_img{
    width: 10%;
    height: 100px;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
}

.contact_div{
    display: flex;
    width: 100%;
    margin-bottom : 10px;
    align-items: center;
}

.name, .crud{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.compose{
    width: 100px;
    height: 35px;
    color:white;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 25px 0;
    border-radius: 5px;
}

select{
    background-color: white;
    border: 1px solid orange;
    width: 200Px;
    height: 30px;
    font-size: 15px;
}

.add_button_category{
    background : purple;
    color: white;
    border: none;
    border-radius: 15px;
    width: 200Px;
    height: 30px;
}

.add_button_category:hover{
background: #bd84ff;
color: purple;
transition-duration: 0.5s;
}

.individual_message{
    width: 100%;
    height: 200px;
}

input{
    width: 300PX;
    height: 25px;
}