<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Acme|Hind+Siliguri" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block sidebar %}
        <div class="sidebar">
            <a href="{{ path('main')}}">
            <div class="box">
            <img class="logo" src="{{ asset('logo_mail.png')}}">
            <div>WaaaahBox</div>
            </div>
            </a>
            <div class="sidebar_item">
                <a href="{{ path('newMail')}}">
                <div class="compose">Compose</div>
                </a>
                <div class="categories">
                <a class="inbox category" href="{{ path('main')}}">Inbox</a><br>
                {% for category in categorys %}
                    <a class="category {{ category.name }}" href="{{ path('byCategory', {param : category.name})}}">{{ category.name }}</a><br>
                {% endfor %}
                <a class="category" href="{{ path('newCategory')}}">+</a><br>
                <a class="contact category" href="{{ path('contact')}}">Contact</a><br>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('jquery-ui.min.js') }}"></script>
        <script src="{{ asset('script.js')}}"></script>
        {% endblock %}
    </body>
</html>
